In [8]:
import pandas as pd
data = pd.read_csv("HDFS_2k.log_structured.csv")
data = data.drop(['LineId'], axis=1)

In [10]:
data.head(5)
data['Level'].groupby(data['Level']).count()
data['Pid'].groupby(data['Pid']).count()

# separating the blk_ids from the structured file
blk=[]
for i in range(len(data['Pid'])):
    id_text=(data['Content'][i].split('blk_', 1)[1])
    id_text="blk_"+id_text
    blk.append(id_text.split('terminating', 1)[0])
data['BlockId']=blk

# anomally label file
label_data=pd.read_csv('anomaly_label.csv')

#merging the labels and the structured file
HDFS_with_label = data.merge(label_data, on='BlockId')
HDFS_with_label.to_csv("HDFS_with_label.csv", index=False)

Level
INFO    1920
WARN      80
Name: Level, dtype: int64

In [16]:
import featureprocessing as fp

In [23]:
import dataloader as dl

In [27]:
data='HDFS_2k.log_structured.csv'
labels='anomaly_label.csv'

In [28]:
(x_train_pre, y_train),(x_test_pre, y_test)=dl.load_HDFS(data,label_file=labels,window='session',train_ratio=1,split_type='uniform',save_csv=True)

====== Input data summary ======
Loading HDFS_2k.log_structured.csv
69 0
Total: 2200 instances, 69 anomaly, 2131 normal
Train: 2200 instances, 69 anomaly, 2131 normal
Test: 0 instances, 0 anomaly, 0 normal

In [32]:
feature_extractor=fp.FeatureExtractor()
# Perform feature extraction on training set
x_train=feature_extractor.fit_transform(x_train_pre,term_weighting=None,normalization=None)

====== Transformed train data summary ======
Train data shape: 2200-by-16

In [34]:
data2=pd.DataFrame(x_train)
data2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2196,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2198,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2199,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0